global
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client 10s
    timeout server 10s
    option httplog
    option dontlognull

frontend api-in
    bind *:9999
    default_backend api-backend

backend api-backend
    balance roundrobin
    server api1 api1:9999 check
    server api2 api2:9999 check
